@import "@/styles/mixins";

.base {
	padding: 162px 0 144px;
	background: url("/superkola/bg.webp") center center / cover no-repeat;
	position: relative;
	z-index: 2;
    overflow: hidden;

    @media (max-width: 1200px) {
        padding: 64px 0 94px;
    }

    &:before, &:after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
        pointer-events: none;
        background: center center / 1920px auto repeat-x;
    }

    &:before {
        top: -1px;
        background-image: url('/superkola/top-border.webp');
        height: 64px;
    }

    &:after {
        bottom: -1px;
        background-image: url('/superkola/bottom-border.svg');
        height: 76px;
    }
}

.container {
	display: grid;
	grid-template-columns: calc(46% - 100px) 54%;
	gap: 100px;
	align-items: flex-start;

    @media (max-width: 1200px) {
        display: flex;
        flex-direction: column;
        gap: 22px;
    }
}

.video {
	position: relative;
	aspect-ratio: 1.66/1;
    margin-top: 107px;

    @media (max-width: 1200px) {
        order: -1;
        width: 100%;
        margin-top: 0;
    }

	> img:not(.cards) {
		border-radius: 32px;
		object-fit: cover;
	}
}

.cards {
    position: absolute;
    bottom: -175px;
    right: -114px;
    animation: moving 3s ease-in-out forwards infinite;

    @media (max-width: 1200px) {
        display: none;
    }
}

@keyframes moving {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-5%) rotate(-2deg);
    }
    100% {
        transform: translateY(0);
    }
}

.play {
	position: absolute;
	left: -20px;
	bottom: -20px;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	background: #0b0c15;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 6px;
	color: white;
	text-decoration: none;
	text-align: center;

    @media (max-width: 1200px) {
        left: auto;
        right: 50%;
        transform: translateX(50%);
        width: 86px;
        height: 86px;
        gap: 2px;
        bottom: 2px;
    }

	p {
		margin: 0;

        @media (max-width: 1200px) {
            font-size: 12px;
        }
	}

	@include hover {
		&:before,
		&:after {
			transform: translate(-50%, -50%) scale(0.95);
		}
	}

	&:before,
	&:after {
		content: "";
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		pointer-events: none;
		border-radius: 50%;
		transition: transform 0.3s;
	}

	&:before {
		width: 178px;
		height: 178px;
		border: 3px solid #0b0c15;

        @media (max-width: 1200px) {
            width: 102px;
            height: 102px;
        }
	}

	&:after {
		width: 206px;
		height: 206px;
		border: 1px solid #0b0c15;
		opacity: 0.5;

        @media (max-width: 1200px) {
            width: 122px;
            height: 122px;
        }
	}
}

.title {
	position: relative;
    margin-bottom: 32px;

    @media (max-width: 1200px) {
        margin-bottom: 22px;
        display: flex;
        justify-content: center;
    }

    img {
        position: relative;
        z-index: 1;

        @media (max-width: 1200px) {
            width: 191px;
            height: auto;
        }
    }

	.back {
		position: absolute;
        white-space: nowrap;
		top: 50%;
		left: 0;
		transform: translateY(-52%);
		-webkit-text-stroke: 2px #fff;
        color: transparent;
		font-size: 152px;
		font-style: normal;
		font-weight: 800;
		line-height: 100%;
		text-transform: uppercase;
        opacity: .15;

        @media (max-width: 1200px) {
            font-size: 72px;
            left: 50%;
            transform: translate(-50%, -50%);
        }
	}
}

.content {
    @media (max-width: 1200px) {
        text-align: center;
    }
}

.subtitle {
    margin: 0 0 24px;
    color: #0C1A1E;

    @media (max-width: 1200px) {
        margin-bottom: 16px;
    }
}

.base .text {
    margin: 0 0 32px;
    line-height: 133%;
    color: #173C46;

    @media (max-width: 1200px) {
        font-size: 16px;
    }
}

.base .button {
    justify-content: space-between;
    padding: 0 8px 0 20px;
    font-size: 20px;
    width: 390px;
    max-width: 100%;

    @media (max-width: 1200px) {
        padding: 0 6px 0 12px;
        width: 300px;
        font-size: 16px;

        img {
            width: 48px;
            height: 48px;
        }
    }
}