@import '@/styles/mixins';

.size__16 {
    font-size: 16px;
}

.size__18 {
    font-size: 18px;
}

.size__20 {
    font-size: 20px;
}

.size__22 {
    font-size: 22px;
}

.size__24 {
    font-size: 24px;
}

.theme__500 {
    font-weight: 500;
}

.theme__800 {
    font-weight: 800;
}