.base {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	position: relative;
	overflow-x: clip;
}

.content {
	flex-grow: 1;
}

.header {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
}

.footer {
	flex-shrink: 0;
}
