@import "@/styles/mixins";

.base {
    padding: 64px 0;
    border-radius: 54px 54px 0px 0px;
    background: #090910;

    @media (max-width: 1200px) {
        padding: 64px 0;
        border-radius: 24px 24px 0 0;
    }
}

.container {
    display: grid;
    grid-template-columns: calc(68% - 64px) 32%;
    gap: 64px;

    @media (max-width: 1200px) {
        display: flex;
        flex-direction: column;
        gap: 40px;
    }
}

.logo {
    @media (max-width: 1200px) {
        order: -5;
    }
}

.base .socialsTitle {
    margin: 0 0 16px;

    @media (max-width: 1200px) {
        font-size: 16px;
    }
}

.socialsList {
    display: flex;
    gap: 10px;
    align-items: center;
}

.socials {
    @media (max-width: 1200px) {
        order: -2;
    }
}

.social {
    text-decoration: none;
    color: white;
    transition: color .2s;

    @include hover {
        color: #516FEA;
    }
}

.tokens {
    max-width: 694px;

    @media (max-width: 1200px) {
        order: -4;
    }
}

.tokensList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px 32px;

    @media (max-width: 1200px) {
        gap: 4px 20px;
        grid-template-columns: repeat(2, 1fr);
    }
}

.tokensTitle {
    margin: 0 0 22px;
}

.base .token {
    display: flex;
    align-items: center;
    gap: 12px;
    text-decoration: none;
    color: white;
    transition: color .2s;

    @media (max-width: 1200px) {
        gap: 10px;
    
        img {
            width: 32px;
            height: 32px;
        }
    }

    @include hover {
        color: #516FEA;
    }

    p {
        margin: 0;

        @media (max-width: 1200px) {
            font-size: 14px;
        }
    }
}

.docsTitle {
    margin: 0 0 22px;
}

.docsList {
    display: grid;
    grid-template-columns: 100%;
    gap: 12px;

    @media (max-width: 1200px) {
        gap: 4px;
    }
}

.docs {
    @media (max-width: 1200px) {
        order: -3;
    }
}

.doc {
    display: flex;
    align-items: center;
    gap: 12px;
    text-decoration: none;
    color: white;
    transition: color .2s;

    @media (max-width: 1200px) {
        gap: 10px;
    }

    @include hover {
        color: #516FEA;
    }

    p {
        margin: 0;

        @media (max-width: 1200px) {
            font-size: 14px;
        }
    }
}

.copyright {
    color: #6F728B;
    margin: 0;
}